<div mat-dialog-content>
  <form [formGroup]="dateForm">
    <div class="container" formArrayName="dates">
      <ng-container *ngFor="let date of dates.controls; let i=index">
        <div class="col-2">
          <!-- Date 1 -->
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="datePicker"
              placeholder="Choose a date"
              [formControlName]="i"
            />
            <button matSuffix *ngIf="date.valid" (click)="deleteDate(date, i)">
              X
            </button>
            <mat-datepicker-toggle
              matSuffix
              [for]="datePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </ng-container>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button cdkFocusInitial (click)="submit()">Ok</button>
</div>
